<div class="row">
    <div class="col-sm-10 mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr class="thead-dark">
                    <th>Username</th>
                    <th>Owner</th>
                    <th>Model</th>
                    <th>Desciption</th>
                    <th>Email</th>
                    <th>Date</th>
                </tr>
            </thead>
            @foreach (var user in ViewBag.AllUsersData)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.OwnerName</td>
                    <td>@user.ModelName</td>
                    <td>@user.OwnerModel.Description</td>
                    <td>@user.Email</td>
                    <td>@user.OwnerModel.Date</td>
                </tr>                        
            }
        </table>
    </div>
 
</div>
